.products__main {
    padding: 3em;
    max-width: 65em;
}

.products__input__error {
    padding: 4px;
    color: red;
    font-size: 0.9em;
}

.products__preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    gap: 4px;
}
