.main {
    padding: 3em;
    max-width: 30em;
}

.flex {
    display: flex;
}

.flex--col {
    flex-direction: column;
}

.flex--medium-gap {
    gap: 1em;
}


.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.input__error {
    padding: 4px;
    color: red;
    font-size: 0.9em;
}