.main {
    width: 95%;
    margin: auto;
    margin-top: 2em;
    overflow: auto;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
}

.filter {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px var(--gray) solid;
    border-radius: 0.5em;
    box-shadow: 1px 2px 5px lightgray;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex {
    display: flex;
}

.flex--gap-4px {
    gap: 4px;
}

.flex--small-gap {
    gap: 0.5em;
}

.flex--medium-gap {
    gap: 1em;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--max {
    width: 12em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    max-width: 60em;
    gap: 4px;
    overflow: hidden;
}

.m-auto {
    margin: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.small {
    width: 1.2em;
    height: 1.2em;
}

.pagination {
    display: flex;
    margin: auto;
    margin-top: 1em;
    gap: 2px;
    width: fit-content;
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 2em;
    color: black;
    border: 1px lightgray solid;
    border-radius: 0.2em;
    text-decoration: none;
}

.pagination__link:hover {
    color: white;
    background-color: seagreen;
}

.pagination__link:hover > svg {
    fill: white;
}

.pagination__link--active {
    color: white;
    background-color: seagreen;
}

.pagination__link--move {
    color: black;
    width: 3em;
}

.footer {
    height: 12em;
}